{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} {% block content %}
<div class="d-flex justify-content-center align-items-center p-4">
  <div class="card shadow p-3 w-50">
    <div class="page-header">
      {% if plane %}
      <h1>Edit {{ plane.name }}</h1>
      {% else %}
      <h1 class="text-center">Add a Plane</h1>
      {% endif %}
    </div>

    <form action="" method="post" class="form-container">
      {% csrf_token %}
      <div class="form-group">{{ form.as_p }}</div>
      <button type="submit" class="btn btn-success w-100 m-0 btn-lg">
        Submit
      </button>
    </form>
  </div>
</div>

{% endblock %}
