{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container d-flex justify-content-center align-items-center">
  <div
    class="p-5 m-5 w-50 card shadow d-flex justify-content-center align-items-center"
  >
    <h2>Are you sure you want to delete {{ plane.name }}?</h2>

    <form action="" method="post" class="form">
      {% csrf_token %}
      <a href="{% url 'plane-detail' plane.id %}" class="m-2 btn btn-primary"
        >Cancel</a
      >
      <button type="submit" class="m-2 btn btn-danger">Yes, Delete</button>
    </form>
  </div>
</div>

{% endblock %}
