{% extends 'base.html' %} {% block content %}
<div class="p-4">
  <section>
    <h1>Welcome to Plane Spotter</h1>
  </section>

  <div class="card shadow card-body">
    <p class="fs-5">
      Here, you can add your favorite planes and record their spottings. Some
      awesome features include:
    </p>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <h4>Personalized Plane Logs:</h4>
          <img src="/static/images/logs.png" class="d-block w-100" alt="Logs" />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <h4>Adding New Planes and Live Sightings:</h4>
          <div class="d-flex justify-content-center align-items-center">
            <img
              src="/static/images/add.png"
              class="img-fluid col-6"
              alt="Add"
            />
            <img
              src="/static/images/sight.png"
              class="img-fluid col-6"
              alt="Sighting"
            />
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <h4>Track Logs:</h4>
          <img
            src="/static/images/track.png"
            class="d-block w-100"
            alt="Track"
          />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <h4>Live Tracking:</h4>
          <img
            src="/static/images/flightradar.png"
            class="d-block w-100"
            alt="Flight Radar"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <h3 class="card-title">Helpful Links:</h3>
      <p class="fs-5">
        At Plane Spotter, we make it seamless and easy to navigate between
        platforms to log your spottings.
      </p>
      <a href="https://www.flightradar24.com" class="card-link" target="_blank"
        >FlightRadar24</a
      >
      <a
        href="https://registry.faa.gov/aircraftinquiry/"
        class="card-link"
        target="_blank"
        >FAA Registration</a
      >
    </div>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <p class="fs-5">Ready to get started?</p>
      <a href="{% url 'signup' %}" class="btn btn-primary m-0 btn-lg"
        >Sign Up</a
      >
    </div>
  </div>
</div>
{% endblock %}
