{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/Airplane.svg' %}"
    />
    <title>Plane Spotter</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    {% block head %} {% endblock %}
  </head>
  <body class="bg-info-subtle d-flex flex-column w-100">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a
            class="navbar-brand text-primary fw-bold"
            href="{% url 'plane-index' %}"
            >Plane Spotter</a
          >
          {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'plane-index' %}"
                  >All Planes</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'plane-create' %}"
                  >Add a Plane</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
            </ul>
            <form
              class="d-flex"
              id="logout-form"
              method="post"
              action="{% url 'logout' %}"
            >
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Logout</button>
            </form>
          </div>
          {% else %}
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </nav>
    </header>
    <main class="container-fluid">{% block content %} {% endblock %}</main>
  </body>
</html>
