{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row w-100 p-4">
  <div class="col-6">
    <section>
      <div class="d-flex pt-5 justify-content-center align-items-center">
        <img
          width="400px"
          src="{% static 'images/Airplane.svg' %}"
          alt="Plane Spotter Logo"
        />
      </div>
    </section>
  </div>

  <div class="col-6 pt-5">
    {% if not user.is_authenticated %}
    <div class="pt-4 d-flex justify-content-center align-items-center">
      <section class="p-3 card shadow" style="width: 400px">
        <form action="{% url 'login' %}" method="post">
          <h1 class="text-center pb-2">Login</h1>
          {% csrf_token %} {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}" />
          <button type="submit" class="btn btn-primary w-100 mt-3 btn-lg">
            Login
          </button>
        </form>
      </section>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
