{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/planes/plane-detail.css' %}" />
{% endblock %} {% block content %}
<section class="plane-container">
  <div class="plane-img">
    <img src="{% static 'images/Airplane-2.svg' %}" alt="Plane Spotter Logo" />
  </div>
  <div class="plane-details">
    <h1>{{ plane.name }}</h1>
    <h2>{{ plane.model }}</h2>
    <h2>{{ plane.category }}</h2>
    <div class="plane-actions">
      <a href="{% url 'plane-update' plane.id %}" class="btn warn">Edit</a>
      <a href="{% url 'plane-delete' plane.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
{% endblock %}
