{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-6 p-5">
    <section
      class="card shadow pt-5 pb-5 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="w-50">
        {% if plane.image %}
        <img src="{{ plane.image }}" alt="{{ plane.name }}" class="img-fluid" />
        {% else %}
        <img
          src="{% static 'images/airplane-2.svg' %}"
          alt="Placeholder Airplane"
        />
        {% endif %}
      </div>
      <div class="plane-details">
        <h1>{{ plane.name }}</h1>
        <h2>{{ plane.model }}</h2>
        <h2>{{ plane.category }}</h2>
        <div class="plane-actions mt-3">
          <a
            href="{% url 'plane-update' plane.id %}"
            class="btn btn-warning me-2"
            >Edit</a
          >
          <a href="{% url 'plane-delete' plane.id %}" class="btn btn-danger"
            >Delete</a
          >
        </div>
      </div>
    </section>
  </div>
  <div class="col-6">
    <div class="sightings-container mt-5">
      <section class="p-4">
        <div class="subsection-title">
          <h2>Sightings</h2>
        </div>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Add a Sighting
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <form
                  action="{% url 'add-sighting' plane.id %}"
                  method="post"
                  class="subsection-content"
                  autocomplete="off"
                >
                  {% csrf_token %}
                  <div class="form-group">{{ sighting_form.as_p }}</div>
                  <button type="submit" class="btn btn-primary">
                    Add Sighting
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-5">Past Sightings</h3>

        {% if plane.sighting_set.all.count %}
        <div class="card">
          <table class="table table-striped mt-3">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Registration</th>
                <th scope="col">Tracking</th>
              </tr>
            </thead>
            <tbody>
              {% for sighting in plane.sighting_set.all %}
              <tr>
                <td>{{sighting.datetime}}</td>
                <td>{{sighting.location}}</td>
                <td>{{sighting.registration}}</td>
                <td>
                  {% if sighting.tracking %}
                  <a
                    href="{{ sighting.tracking }}"
                    target="_blank"
                    class="btn btn-info btn-sm"
                    >Track</a
                  >
                  {% else %} No tracking available. {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="alert alert-danger">
          <p>⚠️ {{plane.name}} has not been spotted yet!</p>
        </div>
        {% endif %}
      </section>
    </div>
  </div>
</div>

{% endblock %}
