{% extends 'base.html' %} {% load static %} {% block content %}

<div class="p-3">
  <section class="page-header">
    <h1 class="pt-3 ps-3">Your Planes</h1>
  </section>

  <section class="d-flex flex-wrap align-items-start">
    {% for plane in planes %}

    <div class="card p-3 m-3 shadow" style="max-width: 18rem; min-width: 15rem">
      {% if plane.image %}
      <img
        style="max-width: 150px"
        src="{{ plane.image }}"
        class="rounded mx-auto d-block"
        alt="{{ plane.name }}"
      />
      {% else %}
      <img
        style="max-width: 150px"
        src="{% static 'images/airplane-2.svg' %}"
        class="rounded mx-auto d-block"
        alt="Placeholder Airplane"
      />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ plane.name }}</h5>
        <p class="card-text">{{ plane.model }}</p>
        <p class="card-text">{{ plane.category }}</p>
        <a href="{% url 'plane-detail' plane.id %}" class="btn btn-primary"
          >Details</a
        >
      </div>
    </div>
    {% endfor %}
  </section>
</div>

{% endblock %}
